* {
	box-sizing: border-box;
}

body {
	background-color: rgb(245, 245, 245);
	font-family: sans-serif;
	color: rgb(20, 20, 20);
	font-size: 16px;
}

#hopp-topp {
	background-color: rgba(50, 50, 50, 0.8);
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 4;
	padding: 1rem;
	border-radius: 50px;
	font-size: 1.4rem;
	color: rgb(245, 245, 245);
}

#main-container {
	height: 100vh;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 0 1rem;
}

main {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: rgb(20, 20, 20);
}

.display-span-inline {
	display: inline;
}

figure {
	margin: 0;
}

/*header*/
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0.7rem 0rem;
}

#nav-logo img {
	width: 114px;
	height: 44px;
}

header form {
	border: 2px;
	border-style: solid;
	border-color: gray;
	border-radius: 25px;
	margin-bottom: 0.5rem;
}

header form input {
	max-width: 250px;
}

header form input,
header form button {
	border: none;
	margin: 5px 5px;
	background-color: rgb(245, 245, 245);
}

header nav ul li {
	padding: 0.3rem 0.3rem;
}

/*header*/

nav ul,
#kontakt-section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li span {
	display: none;
}

.ikon-nav {
	display: flex;
	justify-content: center;
}

/* Main */

#hoved-titel-section {
	text-align: center;
	margin: 2rem 0;
}

/*Banner*/
#banner-section {
	margin-top: 3rem;
	width: 100%;
	height: 500px;
	scrollbar-width: thin;
}

.banner-article {
	position: relative;
	display: flex;
	flex-direction: column;
	object-fit: cover;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	padding: 0 3.5rem;
	color: rgb(245, 245, 245);
}

.banner-scroll-i {
	display: none;
}

.banner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 25px;
	width: 100%;
	height: 100%;
	background-color: rgba(66, 65, 65, 0.35);
	z-index: 2;
}

#banner-article-1 {
	background-image: url(..//bilder/banner/slider1-600.jpg);
	align-items: end;
	text-align: end;
}

.banner-tekst {
	max-width: 400px;
	z-index: 3;
}

.banner-article a {
	background-color: rgb(245, 245, 245);
	padding: 1rem;
	border-radius: 35px;
	z-index: 3;
	width: fit-content;
	font-weight: 800;
}

#banner-article-2 {
	display: none;
}

#banner-article-3 {
	display: none;
}

/*Banner*/
/* våre mest populære */

.overskrift-produkter {
	text-align: center;
}

#produkt-kapper-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.produkt-knapp {
	background-color: rgb(245, 245, 245);
	border-radius: 25px;
	padding: 0.8rem;
	margin: 1rem 0.5rem 0.5rem 0.5rem;
	width: 150px;
}

#produkt-knapp1 {
	background-color: rgb(70, 70, 70);
	color: rgb(245, 245, 245);
	border: none;
}

#produkt-section {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.produkt-kort {
	padding: 1rem;
	max-width: 350px;
}

.produkt-kort img {
	width: 100%;
	object-fit: cover;
	border-radius: 35px;
}

.produkt-img-ikon-span {
	display: block;
	position: relative;
}

.produkt-kort button {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 25px;
	padding: 0.6rem;
	border: none;
	background-color: lightgray;
}

.produkt-kort button i {
	font-size: 1.5rem;
	color: rgb(245, 245, 245);
}

.produkt-navn-pris {
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
}

.produkt-navn-pris a {
	font-size: 1.2rem;
	font-weight: 700;
}

.produkt-navn-pris span {
	font-size: 1rem;
	font-weight: 500;
	padding-top: 3px;
}

/* våre mest populære  */
/* kategorier */

#kategori-section {
	text-align: center;
}

#kategori-grid {
	display: grid;
	grid-gap: 0.8rem;
	justify-content: center;
}

#kategori-grid span {
	width: 100%;
	height: 100%;
	background-color: rgba(66, 65, 65, 0.65);
	border-radius: 50px;
	z-index: 2;
}

#kategori-grid article {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: fill;
	background-repeat: no-repeat;
	background-position: center;
	color: rgb(245, 245, 245);
	border-radius: 50px;
}

#kategori-grid article h3 {
	position: absolute;
	z-index: 3;
}

#kategori1 {
	background-image: url(..//bilder/kategorier/kategori1.jpg);
	grid-column: 1/5;
	grid-row: 1/2;
}

#kategori2 {
	background-image: url(../bilder/kategorier/kategori2.jpg);
	grid-column: 1/5;
	grid-row: 2/3;
}

#kategori3 {
	background-image: url(../bilder/kategorier/kategori3.jpg);
	grid-column: 1/5;
	grid-row: 3/4;
}

#kategori4 {
	background-image: url(../bilder/kategorier/kategori4.jpg);
	grid-column: 1/5;
	grid-row: 4/5;
}

#kategori5 {
	background-image: url(../bilder/kategorier/kategori5.jpg);
	grid-column: 1/5;
	grid-row: 5/6;
}

/* kategorier */
/* anmeldelser */

#anmeldelser-section {
	padding-bottom: 2rem;
}
.anmeldelser-kort {
	min-width: 220px;
	max-width: 289px;
	border: 2px solid lightgray;
	border-radius: 25px;
	padding: 1rem;
}

.anmeldelser-kort img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.anmeldelser-kort h3 {
	margin: 0.5rem 0;
	font-size: 1.2rem;
}

.anmeldelser-kort p {
	margin-top: 0.5rem;
}

#anmeldelser-div {
	width: 100%;
	column-gap: 1rem;
	display: grid;
	grid-auto-flow: column;
	overflow-x: scroll;
	scrollbar-width: thin;
}

/*anmeldelser*/
/* Main */
/*footer*/
footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 3rem;
	border-top: 2px solid rgb(125, 125, 125);
}

#footer-logo img {
	width: 114px;
	height: 44px;
}

.h4-kontakt-snarveier {
	margin-bottom: 0.5rem;
}

footer span {
	display: none;
}

#snarveier-section a,
#kontakt-section p {
	display: inline-block;
	margin: 0.3rem 0;
	padding-right: 0.5rem;
}

#footer-logo {
	padding-top: 2rem;
	width: 100%;
}

.kontakt-p {
	margin-left: 0.3rem;
}

.kontakt-i {
	width: 1rem;
}

.sosiale-i {
	margin: 0 0.6rem;
	font-size: 1.4rem;
}

#footer-logo h3 {
	font-size: 1rem;
	font-weight: 500;
}

/*footer*/

/*products.html*/

#brødsmule-nav ul {
	display: flex;
}

#brødsmule-produktnavn {
	font-weight: 700;
}

#brødsmule-nav i {
	padding: 0 1rem;
}

#main-produkt-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	overflow-y: hidden;
}

#produkt-bilder {
	max-width: 700px;
	width: 100%;
	display: grid;
	align-content: center;
	grid-template-columns: 30% 70%;
	grid-template-rows: 33% 33% 33%;
}

#produkt-bilder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#produktside-bilde1 {
	padding-left: 1.2rem;
	grid-column: 2/3;
	grid-row: 1/4;
}

#produktside-bilde2 {
	padding-bottom: 0.8rem;
	grid-column: 1/2;
	grid-row: 1/2;
}
#produktside-bilde3 {
	padding: 0.4rem 0;
	grid-column: 1/2;
	grid-row: 2/3;
}

#produktside-bilde4 {
	padding-top: 0.8rem;
	grid-column: 1/2;
	grid-row: 3/4;
}

#produkt-info {
	max-width: 440px;
	width: 100%;
}

#produkt-info h2 a {
	text-decoration: underline;
}

#produkt-info p span {
	font-weight: 700;
}

#størelse-select {
	width: 100%;
	background-color: rgb(230, 230, 230);
	padding: 1rem 0.5rem;
	margin-bottom: 1rem;
	border-color: rgb(125, 125, 125);
	border-radius: 5px;
}

#størelse-form span {
	display: flex;
	justify-content: space-between;
}

#størelse-submit-knapp {
	width: 80%;
	background-color: rgb(20, 20, 20);
	color: rgb(245, 245, 245);
	padding: 1rem;
	margin-bottom: 3rem;
}

#størelse-liker-knapp {
	width: 60px;
	padding: 1rem;
	margin-bottom: 3rem;
	background-color: rgb(245, 245, 245);
	font-size: 1.4rem;
}

details {
	border-top: 2px solid rgb(70, 70, 70);
	padding: 2rem 0;
	width: 100%;
}

details summary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: 600;
	list-style: none;
}

details li {
	padding-bottom: 0.3rem;
}

details span {
	display: inline;
	font-weight: 700;
}

#details-anmeldelse {
	border: 2px solid rgb(230, 230, 230);
	border-radius: 25px;
	padding: 1rem;
	margin-top: 1rem;
}

#details-anmeldelse h3 {
	font-size: 1.4rem;
}

#details-anmeldelse h4 {
	font-size: 1.2rem;
}

details table {
	margin-top: 1rem;
}

details table th {
	font-weight: 600;
}

details table th,
details table td {
	padding: 0.5rem;
	text-align: center;
}

#lignende-produkter-grid {
	width: 100%;
	column-gap: 1rem;
	display: grid;
	grid-auto-flow: column;
	overflow-x: scroll;
	scrollbar-width: thin;
	margin-bottom: 2rem;
}

#lignende-produkter-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

#lignende-produkter-title a {
	padding-top: 0.8rem;
}

#lignende-produkter-grid .produkt-kort {
	width: 300px;
}

/*products.html*/
/*checkout.html*/

#tilbake-link-kasse i {
	margin-right: 1rem;
}

#hoved-title-kasse {
	text-align: center;
}

.kasse-section {
	border: 2px solid rgb(215, 215, 215);
	padding: 2rem 0.5rem 1rem 2rem;
	margin-bottom: 2rem;
}

.kasse-section h2 {
	font-size: 1.6rem;
}

.article-handlekurv {
	width: 100%;
	margin-bottom: 2rem;
}

.article-handlekurv img {
	width: 125px;
	height: 125px;
}

.produkt-kasse-info {
	padding-left: 2.5rem;
}

.produkt-kasse-info p {
	margin: 0 0;
}

.produkt-kasse-info h3 {
	margin-bottom: 0;
	font-size: 1.2rem;
}

.form-produkt-kasse {
	margin: 2rem 0;
}

.form-produkt-kasse input {
	padding: 1rem;
	width: 70px;
	border: 2px solid rgb(210, 210, 210);
	background-color: rgb(245, 245, 245);
}

.form-produkt-kasse select {
	padding: 1rem;
	border: none;
	width: 70px;
	background-color: rgb(230, 230, 230);
	margin-right: 0.5rem;
	padding-right: 0.25rem;
}

.produkt-kasse-info button {
	background-color: rgb(245, 245, 245);
	border: none;
	margin-left: -4px;
}
.kasse-section-2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid rgb(215, 215, 215);
	padding: 2rem 0.5rem 1rem 2rem;
	margin-bottom: 2rem;
}

.article-opp-lev-bet {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 700px;
	padding-right: 1rem;
}

.article-opp-lev-bet h3 {
	width: 100%;
	margin-bottom: 0.2rem;
	font-size: 1.4rem;
}

.p-dine-opp {
	margin-bottom: 0;
	font-weight: 600;
}

.input-adresse-form {
	width: 100%;
}

.leverings-adresse label {
	font-weight: 600;
}

.leverings-adresse input {
	padding: 1rem;
	background-color: rgb(245, 245, 245);
	margin-bottom: 0.2rem;
	border: 2px solid rgb(210, 210, 210);
}

#kontakt-info-p {
	margin-top: 5rem;
}

.checkout-form-knapp {
	background-color: rgb(70, 70, 70);
	color: rgb(245, 245, 245);
	width: 100%;
	padding: 1rem;
	margin: 2rem 0 1rem 0;
}

#avbryt-link {
	text-decoration: underline;
	font-size: 1.2rem;
	font-weight: 700;
}

#avbryt-link-p {
	width: 100%;
	text-align: center;
}

.levering-article {
	position: relative;
	border: 2px solid rgb(210, 210, 210);
	padding: 1rem;
	width: 100%;
	margin: 1rem 0;
}

.levering-article input {
	margin-right: 0.5rem;
}

.levering-article label {
	font-weight: 600;
}

.levering-article h4 {
	color: rgb(90, 90, 90);
	margin: 0.5rem 0;
	font-size: 1.2rem;
	font-weight: 600;
}

.levering-pris i {
	margin-left: 0.3rem;
}

.fullføre-kjøp-tekst {
	text-align: center;
}

#fullføre-kjøp-p {
	border-top: 2px solid rgb(210, 210, 210);
	margin-top: 2rem;
	padding-top: 2rem;
}

#fullføre-kjøp-h2 {
	margin: 1rem 0 -0.5rem 0;
}

#fullføre-kjøp-span {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 4rem;
	text-align: center;
}

#siste-section-kasse {
	margin-bottom: 3rem;
}

/*checkout.html*/

h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 1.9rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
p {
	font-size: 1rem;
}
a {
	font-size: 1rem;
}

/*media regeler for desktop*/
@media only screen and (min-width: 600px) {
	/*Hover effekter*/
	details summary:hover {
		font-size: 1.3rem;
	}
	#produkt-section h3 a:hover {
		font-weight: 800;
	}

	#lignende-produkter-section h3 a:hover {
		font-weight: 800;
	}

	#lignende-produkter-title a:hover {
		font-size: 1.1rem;
	}

	a:hover {
		font-weight: 700;
	}

	a:hover h5 {
		font-weight: 800;
	}

	a i:hover {
		font-size: 1.6rem;
	}

	.like-hover:hover {
		background-color: lightcoral;
	}

	#produkt-info h2 a:hover {
		font-weight: 800;
	}

	#størelse-submit-knapp:hover {
		color: rgb(20, 20, 20);
		background-color: rgb(245, 245, 245);
	}

	#størelse-liker-knapp i:hover {
		color: lightcoral;
	}

	.kasse-ikon-span i:hover {
		font-size: 1.4rem;
	}

	#tilbake-link-kasse a:hover {
		font-size: 1.2rem;
	}

	.checkout-form-knapp:hover {
		background-color: rgb(245, 245, 245);
		color: rgb(20, 20, 20);
	}

	#avbryt-link:hover {
		font-weight: 800;
	}

	#brødsmule-produktnavn a:hover {
		font-weight: 800;
	}

	#hopp-topp:hover {
		background-color: rgb(210, 210, 210);
		color: rgb(20, 20, 20);
	}

	/*Hover effekter*/

	#nav-logo:hover img,
	#footer-logo:hover img {
		opacity: 0.5;
	}

	header {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	#main-header-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#nav-logo {
		padding: 0px 1rem;
	}

	.produkt-knapp:hover {
		background-color: rgb(128, 125, 125);
		color: rgb(245, 245, 245);
		border: none;
	}

	#produkt-knapp1:hover {
		background-color: rgb(128, 125, 125);
		color: rgb(245, 245, 245);
	}

	#produkt-section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	#main-produkt-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
	}

	#produkt-info {
		overflow-y: auto;
		max-height: 750px;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	#produkt-info::-webkit-scrollbar {
		display: none;
	}

	.kasse-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.article-handlekurv {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 700px;
	}

	.kasse-ikon-span {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.kasse-ikon-span i {
		margin-bottom: 0.3rem;
	}

	.levering-pris {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#banner-section {
		display: grid;
		grid-auto-flow: column;
		overflow-x: scroll;
		overflow-y: auto;
		column-gap: 3rem;
	}

	#banner-article-1 {
		width: 1165px;
		background-image: url(..//bilder/banner/slider1-1200.jpg);
	}

	#banner-article-2 {
		width: 1165px;
		display: flex;
		background-image: url(..//bilder/banner/slider2-1200.jpg);
	}

	#banner-article-3 {
		width: 1165px;
		display: flex;
		background-image: url(..//bilder/banner/slider3-1200.jpg);
	}

	.banner-scroll-i {
		display: block;
		position: absolute;
		padding: 1rem;
		font-size: 1.4rem;
		border-radius: 50px;
		z-index: 3;
		background-color: rgba(125, 125, 125, 0.65);
		color: rgb(245, 245, 245);
	}

	.banner-scroll-i-right {
		top: 45%;
		right: 10px;
	}

	.banner-scroll-i-left {
		top: 45%;
		left: 10px;
	}
}

/*media regel kun for grid oppsett på mobil*/
@media only screen and (max-width: 551px) {
	#kategori-grid article {
		height: 300px;
	}

	#kategori-grid {
		grid-template-columns: 23% 23% 23% 23%;
		grid-template-rows: auto auto auto auto auto auto;
	}
}

/*media regel kun for grid oppsett på nettbrett*/
@media only screen and (min-width: 550px) and (max-width: 799px) {
	#kategori-grid article {
		height: 300px;
	}

	#kategori-grid {
		grid-template-columns: 23% 23% 23% 23%;
		grid-template-rows: auto auto auto auto auto auto;
	}

	#kategori1 {
		grid-column: 1/3;
		grid-row: 1/3;
	}

	#kategori2 {
		grid-column: 3/5;
		grid-row: 1/3;
	}

	#kategori3 {
		grid-column: 1/3;
		grid-row: 3/5;
	}

	#kategori4 {
		grid-column: 3/5;
		grid-row: 3/5;
	}

	#kategori5 {
		grid-column: 1/5;
		grid-row: 5/7;
	}
}

/*media regel kun for grid oppsett på desktop*/
@media only screen and (min-width: 800px) {
	#kategori-grid {
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
		grid-template-rows: 300px 200px 200px;
	}

	#kategori1 {
		grid-column: 1/4;
		grid-row: 1/2;
	}

	#kategori2 {
		grid-column: 4/7;
		grid-row: 1/2;
	}

	#kategori3 {
		grid-column: 7/10;
		grid-row: 1/2;
	}

	#kategori4 {
		grid-column: 1/5;
		grid-row: 2/4;
	}

	#kategori5 {
		grid-column: 5/10;
		grid-row: 2/4;
	}
}

/* banner
	.slideshow {
		--slide-width: clamp(300px, 100vw, 1200px);
		--slide-hight: clamp();

		height: 25rem;
		display: grid;
		grid-auto-flow: column;
		scroll-snap-type: x mandatory;
		overflow-x: scroll;
		scroll-behavior: smooth;
		scrollbar-width: thin;
		border-radius: 25px;
	}

	#slide1 {
		background-image: url(..//bilder/banner/slider1-1200.jpg);
		width: var(--slide-width);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	#slide2 {
		background-image: url(..//bilder/banner/slider2-1200.jpg);
		width: 100vw;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	#slide3 {
		background-image: url(..//bilder/banner/slider3-1200.jpg);
		width: 100vw;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	 banner */
